
        <footer class="footer text-center py-4">

            <!--/*
                This template is released under the Creative Commons Attribution 3.0 License.
                Please keep the attribution link below when using for your own project.
                Thank you for your support. :)
                If you'd like to use the template without the attribution, you can buy the commercial license via our website: themes.3rdwavemedia.com
            */-->

            <small class="copyright text-muted">Designed by <a class="theme-link" href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> under the Creative Commons Attribution 3.0 License.</small>
            <br>
            <small class="copyright">{{ now.Year }} &copy; {{ with .Site.Params.footer.copyright }}{{ . | markdownify }}{{ else }}Ported to Hugo by <a href="https://github.com/cowboysmall" target="_blank">CowboySmall</a>{{ end }}</small>
        </footer>
